# Python standard
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Environment Variables & Secrets
.env

# Application directories
data/vector_store/*
!data/vector_store/.gitkeep
!data/vector_store/index.faiss
!data/vector_store/index.pkl
data/uploads/*
!data/uploads/.gitkeep

# Testing
.pytest_cache/
.coverage
htmlcov/
